@font-face {
    font-family: Edwardian Script ITC;
    src: url(../font/ITCEDSCR.TTF);
    src: url(http://netcoms.eu/font/ITCEDSCR.TTF);
}

p {
    font-family: Consolas;
    font-size: 1.4em;
    color: #0094ff;
}

    p::first-line {
        font-weight: bold;
    }

    p:first-letter {
        font-family: Edwardian Script ITC;
        font-size: 3em;
    }
